@font-face {
    font-family: 'Jal_Onuel';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jal_Onuel';
}

.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    color: #fff;
    background: linear-gradient(to left, #ff9ef1, #8ea6ff);
    padding: 1.2rem;
}

.headerArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.headerArea h1 {
    width: 20%;
    text-align: center;
}

.input-box {
    width: 60%;
    display: flex;
    justify-content: end;
}

.input-box>label {
    display: none;
}

.input-box>input {
    padding: 0.8rem;
    border: none;
    border-radius: 2px;
    text-align: center;
    width: 100%;
}

input::placeholder {
    color: rgb(223, 223, 223);
}

#write {
    width: 10%;
    padding: 0.6em;
    border: none;
    border-radius: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #b440c7;
}

#write>i {
    color: #fff;
}

.todo-list {
    width: 100%;
}

.todo-list li {
    border-bottom: 1px solid #eee;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.todo-like {
    flex: 1;
}

.todo-item {
    flex: 8;
}

.done .todo-item {
    text-decoration: line-through;
    color: #ccc
}

.done .check {
    visibility: hidden;
}

.todo-manage {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.like {
    cursor: pointer;
    font-size: 18px !important;
    color: #e40000;
}

.check {
    color: rgb(89, 223, 0)
}

.clear {
    color: salmon
}

.hidden {
    visibility: hidden;
}

@media (max-width: 769px) {
    .headerArea {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        position: relative;
    }
    .headerArea h1 {
        width: 100%;
        font-size: 3em;
        text-align: left;
    }
    #write {
        width: 55%;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.8em 1em;
        border: 2px solid #fff;
    }
    #write>i {
        display: none;
    }
    #write:after {
        content: "Write";
        display: block;
        color: #fff;
        font-size: 22px;
        letter-spacing: 1.5px;
        font-weight: bold;
    }
    .input-box {
        width: 100%
    }
    .input-box>input {
        margin: 10px auto;
    }
}